* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#titulo-principal{
    background-color: blue;
    color: bisque;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.texto-introducao{
    color: blue;
    background-color: yellow;
    margin: 10px;
    padding: 10px 15px 20px 10px;
}

.caixa{
    background-color: chocolate;
    padding: 20px;
    margin: 10px;
    width: 350px; /*largura*/
    /* height: 10px; */
}

.figura{
    height: 150px; /*Altura*/
}

#descricao-img{
    background-color: rgb(225, 166, 166);
    color: aliceblue;
    padding: 8px;
    margin: 0px;
    width: 200px;
    border-radius: 10px;
}

.button1{
    background-color: #04AA6D;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
}
.button1:hover{
    background-color: #04AA6D;
    color: white;
}



.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  