body {
    background-color: #121212;
}
.background-image {
    height: 320px;
    padding: 56px 24px; /*vertical / horizontal*/
    background: linear-gradient(0deg, #121212, transparent ), url(img-background.jpg);
    background-repeat: no-repeat; /**/
    background-size: cover; /*força a imagem se encaixar no heder*/

}

.titulo {
    font-size: 3.5rem; /*3.5 * 16 = 56px  ; 16 seria  font-size na propriedade html*/
    color: goldenrod;
    text-align: center;
}
.descricao {
    font-style: italic;
    font-size: 1.4rem;
    color: goldenrod;
}

.aulas {
    width: 100%;
    color: goldenrod;
}
.rodape {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(20, 20, 22, 0.9);
    color: #ccc;
    border-radius: 8px;
}